Assignment/data.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="stocks">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="items">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="iname" type="xs:string" />
                            <xs:element name="pdate" type="xs:string" />
                            <xs:element name="cost" type="xs:unsignedByte" />
                            <xs:element name="ledger" type="xs:unsignedByte" />
                            <xs:element name="qty" type="xs:unsignedByte" />
                            <xs:element name="dqty" type="xs:unsignedByte" />
                            <xs:element name="pstock" type="xs:unsignedByte" />
                            <xs:element name="location" type="xs:string" />
                            <xs:element name="transfered" type="xs:string" />
                            <xs:element name="tqty" type="xs:unsignedByte" />
                            <xs:element name="remark" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>